{
    "root": true,
    "env": {
        "commonjs": true,
        "es6": true,
        "node": true
    },
    "plugins": [
        "prettier"
    ],
    "rules": {
        "quotes": "warn",
        "jsx-quotes": "warn"
    }
}